/* === PRELOADER === */

.fullscreen-preloader {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(26, 26, 26);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: 1s all;
  visibility: visible;

  .fullscreen-preloader__container {
    width: 100%;
    height: 75px;
    left: 50%;
    right: 50%;
    color: white;
    text-align: center;
    line-height: 76px;
    font-size: 70px;
  }
  &.fullscreen-preloader--hidden {
    opacity: 0;
    visibility: hidden;
  }
}


